Some Kind of description here

## Import Statements

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Exploration

In [2]:
df = pd.read_csv('abortion.csv')

In [3]:
df.head()

,tweet,date,likes,retweets
0,See the Super Bowl Ad FOX Sports wouldn't run....,"Feb 2, 2020",72,60
1,#DWTSIRLDid you know there is a #Galway branch...,"Feb 2, 2020",26,33
2,Happy 4th birthday to our little miracle! I’m ...,"Feb 2, 2020",8,3
3,"#GE2020A good friend,who'se forgotten more abo...","Feb 2, 2020",45,14
4,“Britain has been engaged in decades of rebell...,"Feb 2, 2020",8,4

In [4]:
df.tail()

,tweet,date,likes,retweets
275,"how about persuading ""baby killer""Genocide Gla...","Feb 2, 2020",0,0
276,"Originally, ringfenced money was set aside for...","Feb 2, 2020",0,0
277,"Vampires, that's cute fox boy #Abortion","Feb 1, 2020",0,0
278,#sacrementofreconcilliation#CatholicChurch but...,"Feb 2, 2020",0,0
279,Can’t help the spin! As our press release clea...,"Feb 2, 2020",1,0

In [5]:
df.shape

(280, 4)

In [6]:
df.count()

tweet       280
date        280
likes       280
retweets    280
dtype: int64

       retweets
likes
0            29
1            37
2            12
3             5
4            18
7            16
8            58
9             5
10           18
20            3
26          132
31           60
45           56
72          240